@page
@model IndexModel
@using torreAssesment.ViewModels;
@using System.Collections.Generic;
@using System.Linq;
@{
    ViewData["Title"] = "Home page";
    ViewData["UserName"] = Model.Profile?.Person?.Name;
    BioVm Person = Model.Profile?.Person;
    
}


@if (Model.Profile is null)
{
    <section>
        <h4 class="centered">No profile selected</h4>
    </section>
}
else
{
    <section class="container my-2 p-3">
        <h5 class="mb-4 font-weight-bolder">Profile Summary</h5>
        <div class="row">
            <div class="d-flex align-items-center flex-column col-md-2 px-2">
                <img style="width:150px;height:150px;" src=@Person?.PictureThumbnail class="rounded-circle flex-row" alt="profile picture" />
                <div style="display:block" class="align-items-center pt-2"><span class="font-weight-bold text-dark">@Person?.Name</span></div>
            </div>
            <div class="d-flex align-items-center col-md-10 px-2">
                <p>@Person.SummaryOfBio</p>
            </div>
        </div>
    </section>

    <section class="container my-3 p-3">
        <h5 class="mb-4 font-weight-bolder">Skills</h5>
        <div class="row">
            @{
                IEnumerable<IGrouping<string, StrenghtVm>> Categories = Model.Profile.Strengths.GroupBy(x => x.Proficiency);
                foreach (var category in Categories)
                {
                    <div class="col-md-3">
                        <h6 class="text-capitalize font-weight-bold">@category.Key</h6>
                        
                            @foreach (var item in category)
                            {
                                <button class="btn-sm btn-link btn-outline-secondary my-1 rounded-pill" onclick="">@item.Name</button>
                            }
                        
                    </div>
                }
            }
        </div>
    </section>
    
}

